@import './Control.css';

.pen-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.pen-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .pen-buttons {
    flex-direction: row;
    gap: 0.3rem;
  }
  
  .pen-name {
    font-size: 0.7rem;
  }
}
